.home-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.home-col-1 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

.home-col-2 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

.home-col-3 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .home-col-1,
  .home-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .home-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .home-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

.reference-text {
  color: $grey-color;
  padding-top: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
}

.image-credit {
  font-size: $small-font-size;
  color: $grey-color;
  padding-top: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
}
